body{
    height: 100vh;
    background: #000;
    background-image: url(/images/bg.png);
    background-image: linear-gradient(180deg, rgb(0 0 0 / 83%) 0%, rgb(38 4 62 / 89%) 59.7%, rgb(12 0 22 / 92%) 100%), url(/images/bg.png) !important;
    background-size: cover;
    color: #fff;
}
h1{
    color: #fff;
    font-size: 4em;
}
#title{
    background-color: #ffffff28;
    border: 1px solid #000;
    border-radius: 200px;
    padding: 1em;
    width: 100%;
    color: #fff;
    font-size: 19px;
    backdrop-filter: blur(5px);
    width: 100%;
    &::placeholder{
        color: #fff;
    }
}
.novie-box{
    color: #fff!important;
}